In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
import json

In [2]:
df=pd.read_csv(r"C:\Users\shind\Downloads\BTC_PROJECT\data\BTC-USD.csv")
df

,Unnamed: 0,Open,High,Low,Close,Adj Close
0,NaN,387.427002,411.697998,289.295990,338.321014,338.321014
1,NaN,338.649994,457.092987,320.626007,378.046997,378.046997
2,NaN,378.248993,384.037994,304.231995,320.192993,320.192993
3,NaN,320.434998,320.434998,171.509995,217.464005,217.464005
4,NaN,216.867004,265.610992,212.014999,254.263000,254.263000
...,...,...,...,...,...,...
94,NaN,23336.718750,25135.589840,19600.785160,20049.763670,20049.763670
95,NaN,20050.498050,22673.820310,18290.314450,19431.789060,19431.789060
96,NaN,19431.105470,20988.394530,18319.822270,20495.773440,20495.773440
97,NaN,20494.898440,21446.886720,15599.046880,17168.566410,17168.566410
98,NaN,17168.001950,18318.531250,16398.136720,16602.585940,16602.585940

In [3]:
df.drop(['Unnamed: 0','Adj Close'],axis=1,inplace=True)
df

            Open          High           Low         Close
0     387.427002    411.697998    289.295990    338.321014
1     338.649994    457.092987    320.626007    378.046997
2     378.248993    384.037994    304.231995    320.192993
3     320.434998    320.434998    171.509995    217.464005
4     216.867004    265.610992    212.014999    254.263000
..           ...           ...           ...           ...
94  23336.718750  25135.589840  19600.785160  20049.763670
95  20050.498050  22673.820310  18290.314450  19431.789060
96  19431.105470  20988.394530  18319.822270  20495.773440
97  20494.898440  21446.886720  15599.046880  17168.566410
98  17168.001950  18318.531250  16398.136720  16602.585940

[99 rows x 4 columns]

In [4]:
df

            Open          High           Low         Close
0     387.427002    411.697998    289.295990    338.321014
1     338.649994    457.092987    320.626007    378.046997
2     378.248993    384.037994    304.231995    320.192993
3     320.434998    320.434998    171.509995    217.464005
4     216.867004    265.610992    212.014999    254.263000
..           ...           ...           ...           ...
94  23336.718750  25135.589840  19600.785160  20049.763670
95  20050.498050  22673.820310  18290.314450  19431.789060
96  19431.105470  20988.394530  18319.822270  20495.773440
97  20494.898440  21446.886720  15599.046880  17168.566410
98  17168.001950  18318.531250  16398.136720  16602.585940

[99 rows x 4 columns]

In [5]:
x=df.drop('High',axis=1)
y=df['High']

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=0)

In [7]:
model=LinearRegression()

In [8]:
model.fit(x_train,y_train)

LinearRegression()

In [9]:
y_pred=model.predict(x_test)

In [10]:
y_pred

array([ 1109.96120399, 59606.76689977,   510.25158295,  8608.47271044,
       35502.72459264, 30798.56200755,   574.8844317 , 20215.21367213,
        5644.68485358, 24604.39389635,  4609.32834453, 41204.01057531,
       68567.1450982 ,   514.84382728,   370.37531765,  1520.14121097,
         796.32970358,   858.08929893,  3412.88908625,   395.73250853,
        9711.50710693,  8544.87056914,   438.4997607 , 12933.37264584,
        8387.49988384,  7312.72445252,   385.89745933, 18877.8213059 ,
       51928.73281499, 46579.98219697])

In [13]:
file=open('model.pkl','wb')
pickle.dump(model,file)

In [14]:
final_model=pickle.load(open("model.pkl",'rb'))

In [15]:
x

            Open           Low         Close
0     387.427002    289.295990    338.321014
1     338.649994    320.626007    378.046997
2     378.248993    304.231995    320.192993
3     320.434998    171.509995    217.464005
4     216.867004    212.014999    254.263000
..           ...           ...           ...
94  23336.718750  19600.785160  20049.763670
95  20050.498050  18290.314450  19431.789060
96  19431.105470  18319.822270  20495.773440
97  20494.898440  15599.046880  17168.566410
98  17168.001950  16398.136720  16602.585940

[99 rows x 3 columns]